:root {
    --valuesInputColor: #d1d1d1f5;
    --theme: #424242;
    --subcolor: linear-gradient( #cbe6a9,  #4d8307);
}

body {
    margin: 0;
    background-color: var(--theme);
}

#registry {
    max-width: 200em;
    display: flex;
}

.registry_name {
    min-height: 10px;
    background-color: white;
    max-width: 40px;
    display: flex;
    padding: 4px;
    text-align: center;
}

.registry_value {
    background-color: var(--valueInputColor);
    color: (--valueInputColor);
}

.instruction_button {
    
    background: var(--subcolor);
    
    margin-top: 5px;
    border-radius: 999px;
    box-shadow: var(--subcolor) 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    line-height: 14px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    border: 0;
}