:root {
  --theme: #18181b;
  --light: #fffbfe;
  --sublight: #a5a5a5;
  --dark: #7a7d7d;
  --lightdark: #424242;
  --addons: #e4ff1a;
  --fontsizes: 120%;
}

::placeholder {
  color: var(--sublight);
}


* {
  margin: 0;
  outline: none;
}

body {
  background-color: var(--theme);
  color: var(--light);
  font-size: var(--fontsizes);
}

.instruction select {
  margin-bottom: 1vh;
  background-color: transparent;
  color: var(--sublight);
  cursor: pointer;
  box-shadow: none;
  background-image: none;
}

.instruction select:focus {
  outline: none;
  box-shadow: none;
  color: var(--light);
  transition: 0.5s;
}

.instruction option {
  background-color: var(--lightdark);
}

.form-select {
  border: none;
  text-align: center;

}

.form-select:focus {
  box-shadow: none;
}

button:focus {
  border-radius: 10px;
  box-shadow: 0 0 1em var(--addons);
  transition: 0.5s;

}

input {
  background-color: transparent;
  border: none;
  text-align: center;
  color: var(--sublight);
  width: 100%;
  margin-bottom: 1vh;
}

input:focus {
  color: var(--light);
  border: transparent;
}



fieldset {
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--dark);
  background-color: var(--lightdark);
  margin-bottom: 2vh;

}

fieldset:hover,
fieldset:focus-within {
  box-shadow: 0 0 1em var(--addons);
  transition: 0.5s;
}


legend {
  background-color: var(--dark);
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 0 1em var(--theme);
  font-size: 90%;
}

.instruction legend {
  box-shadow: 0 0 1em var(--dark);
  background-color: var(--addons);
  color: var(--dark);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

select {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flexbox;
}